extends ../shared/_layout

block content
  div.wrapper.w-90.center
    header.flex-ns.justify-center-ns.mb4.mb5-ns
      div.tc.tl-ns.logo
        include ../shared/_logo
      div.tc.tl-ns.flex-ns.flex-column-ns.ml4-ns.mt3.mt0-ns
        h1.lh-copy.lh-solid-ns.normal.ma0.flex-auto.f3.f2-ns #{data.pages.global.title}
        h2.lh-copy.lh-solid-ns.normal.i.f5.ma0 #{data.pages.global.sub_title}

    main
      div
        div.tc.f5.f4-ns.mb3.mb4-ns.desc--ja
          each paragraph, index in data.pages.top.desc_ja
            p.ma0 !{paragraph}
        div.tc.f5.f4-ns.desc--en
          each paragraph, index in data.pages.top.desc_en
            p.ma0 !{paragraph}
        div.tc.f5.mv4.mv5-ns
          a.pa3.ph4.ba.bw1.br-pill.email-btn.dib(href='mailto:' + data.pages.global.email)
            span.email-icon-wrapper
              include ../icons/_email
            span.ml3.f5.f4-ns(style="vertical-align: text-bottom;") #{data.pages.global.email}
